body {
  background-color: var(--secondary);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: var(--start-margin);
  padding: 2rem 1rem;
}

form {
  background-color: var(--secondary);
  padding: 1rem;
  /* height: 100vh; */
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(70, 68, 68);
  border-radius: 4px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(70, 68, 68);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float: left; */
  width: 100%;
}

input[type="submit"]:hover {
  background-color: var(--third);
  color: var(--primary);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  text-align: right;
}

.col-75 {
  float: left;
  width: 72%;
  margin-top: 8px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.feedback-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.left-box {
  flex: 0.9;
  vertical-align: middle;
  width: 100%;
  padding: 0px;
  text-align: center;
  padding-top: 5.5em;
}

.right-box {
  vertical-align: middle;
  flex: 1.1;
  width: 100%;
  padding: 20px;
  padding-top: 6.5em;
}

.option-class {
  color: black;
}

#country {
  cursor: pointer;
  padding-left: 5px;
  color: black;
}

.feedback-image {
  width: 80%;
  margin-top: 3em;
  border-radius: 15px;
}

.feedback-text {
  text-align: center;
  padding-left: 17%;
  padding-right: 7%;
  font-size: 20px;
}
