* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --nav-padding: 10px;
  --logo-size: 30px;
  --start-margin: 50px;
  --primary: #1a374d;
  --secondary: #b1d0e0;
  --third: #406882;
  --fourth: #6998ab;
}

/*Nav bar*/
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  display: grid;
  grid-template-columns: 1fr auto;
  padding: var(--nav-padding);
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 0.5rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

nav ul li {
  list-style-type: none;
  height: fit-content;
  width: fit-content;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary);
}

#logo {
  height: var(--logo-size);
  width: var(--logo-size);
  filter: invert(100%);
}

nav ul button {
  height: 1.5rem;
  width: 5rem;
  background-color: var(--secondary);
  color: var(--third);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

