* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --nav-padding: 10px;
  --logo-size: 40px;
  --start-margin: 50px;
  --primary: #000000;
  --secondary: #6abbe4;
  --third: #000508;
  --fourth: #585858;
}

html{
  min-height: 100%;
}

body{
  overflow-x: hidden;
}

/*Nav bar*/
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  padding: var(--nav-padding);
}

/* Navbar styling */
.nav-link {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(226, 222, 222);
  padding: 15px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color:grey;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

#ham{
  display: grid;
  grid-template-rows: auto;
  width: 30px;
  height: 30px;
  background-color: var(--primary);
  align-items: center;
}
#ham span{
  background-color: var(--secondary);
  width: 30px;
  height: 1.5px;
}

nav ul {
  display: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style-type: none;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
}

nav ul li {
  list-style-type: none;
  height: fit-content;
  width: fit-content;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary);
}

#logo {
  height: var(--logo-size);
  width: var(--logo-size);
  filter: invert(100%);
}

nav ul button {
  height: 1.5rem;
  width: 5rem;
  background-color: var(--secondary);
  color: var(--third);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

